{% import "_includes/forms" as forms %}

{{
	forms.lightswitch({
		onLabel:	"On",
		offLabel:	"Off",
		name:		"enabled",
		on:			settings.enabled
	})
}}

{{
	forms.textField({
		label: "<strong>File System Path</strong> to your site's index.php:"|t,
		id: 'filesystemPath',
		name: 'filesystemPath',
		placeholder : '/var/www/public/',
		instructions : "If left blank, `$_SERVER['DOCUMENT_ROOT']` will be used."|t,
		value: (settings.filesystemPath is defined ? settings.filesystemPath : null)
	})
}}

{{
	forms.textField({
		label: "<strong>Cache Path</strong>:"|t,
		id: 'cachePath',
		name: 'cachePath',
		placeholder : '/var/www/public/cache/',
		instructions : "If left blank, Craft's storage folder will be used."|t,
		value: (settings.cachePath is defined ? settings.cachePath : null)
	})
}}

{{
	forms.textField({
		label: "<strong>Cache Url</strong>:"|t,
		id: 'cacheUrl',
		name: 'cacheUrl',
		placeholder : 'http://domain.com/cache/',
		instructions : "If left blank, Craft's storage folder will be used."|t,
		value: (settings.cacheUrl is defined ? settings.cacheUrl : null)
	})
}}
